<form action="" class="form-inline" (submit)="submit()">
  <div class="col-auto">
    <label for="categories[]">Categorias</label>
    <select class="form-control" name="categories[]" id="categories[]" multiple
            [(ngModel)]="categoriesId">
      <!--(change)="change($event)">-->
      <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}
      </option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit">Incluir Categorias</button>
</form>