<form (submit)="submit()">
  <modal (onHide)="hideModal($event)">
    <h5 modal-title>Editar Categoria {{ category.name }}</h5>

    <div modal-body>
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" name="name" required
               [(ngModel)]="category.name">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="active" name="active" required
               [(ngModel)]="category.active">
        <label for="active">Ativo?</label>
      </div>
    </div>

    <div modal-footer>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      <button type="submit" class="btn btn-primary">Editar</button>
    </div>
  </modal>
</form>
