<div class="row">
  <h1>Saída de Estoque</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <td>
        <button class="btn btn-primary" (click)="outputInsertService.showModalInsert()">Nova Baixa
        </button>
      </td>
      <td colspan="4">
        <product-output-search (onSearch)="search($event)"></product-output-search>
      </td>
    </tr>
    <tr>
      <th style="width: 5%" [sortColumn]="sortColumn" columnName="id" (onSort)="sort($event)">ID</th>
      <th style="width: 70%" [sortColumn]="sortColumn" columnName="product_name" (onSort)="sort($event)">Produto</th>

      <th style="width: 10%">Quant.</th>
      <th style="width: 15%" [sortColumn]="sortColumn" columnName="created_at" (onSort)="sort($event)">Criado em</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let output of outputs | paginate: {itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page, totalItems: pagination.totalItems }">
      <td>{{ output.id }}</td>
      <td>{{ output.product.name }}</td>
      <td>{{ output.amount }}</td>
      <td>{{ output.created_at.date | date: 'dd/MM/yyyy' }}</td>
    </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="pageChanged($event)"
                       previousLabel="Anterior"
                       nextLabel="Próxima">
  </pagination-controls>

</div>
<product-output-new-modal
        (onSuccess)="productOutputInsertService.onInsertSuccess($event)"
        (onError)="productOutputInsertService.onInsertError($event)">
</product-output-new-modal>
