<div class="row">
  <h1>Saída de Estoque</h1>
</div>
<div class="row md-2 mt-2">
  <div class="col-md-2">
    <button class="btn btn-primary" (click)="outputInsertService.showModalInsert()">Baixa de Estoque</button>
  </div>
  <div class="col-md-10 ">
    <product-output-search-form (onSearch)="search($event)"></product-output-search-form>
  </div>
</div>
<div class="row">
  <table class="table table-striped">
    <thead>
    <tr>
      <th style="width: 5%" [sortColumn]="sortColumn" columnName="id" (onSort)="sort($event)">ID</th>
      <th style="width: 65%" [sortColumn]="sortColumn" columnName="product_name" (onSort)="sort($event)">Produto
      </th>
      <th style="width: 10%">Quant.</th>
      <th style="width: 20%" [sortColumn]="sortColumn" columnName="created_at" (onSort)="sort($event)">Criado em
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let output of outputs | paginate: {itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page, totalItems: pagination.totalItems }">
      <td>{{ output.id }}</td>
      <td>{{ output.product.name }}</td>
      <td>{{ output.amount }}</td>
      <td>{{ output.created_at.date | date: 'dd/MM/yyyy' }}</td>
    </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="pageChanged($event)"
                       previousLabel="Anterior"
                       nextLabel="Próxima">
  </pagination-controls>
</div>

<product-output-new-modal
        (onSuccess)="outputInsertService.onInsertSuccess($event)"
        (onError)="outputInsertService.onInsertError($event)">
</product-output-new-modal>
